{% extends 'myshop/base.html' %}

{% load staticfiles %}

{% block page_title %}
    Catalog
{% endblock %}

{% block bootstrap_css %}
    <link href="{% static 'products/packages/bootstrap-3.3.7-dist/css/bootstrap.min.css' %}" rel="stylesheet">
{% endblock %}
{% block style_css %}
    <link rel="stylesheet" href="{% static 'products/styles/style.css' %}">
{% endblock %}

{% block small_menu_items %}
    <li><a class="menu_item" href="{% url 'mainapp:index' %}">Main</a></li>
    <li><a class="menu_item" href="{% url 'productsapp:catalog' %}">Catalog</a></li>
        <ul class="submenu">
            {% for category in categories %}
            <li><a href="{% url 'productsapp:category' category=category.title %}">{{category.title}}</a></li>
            {% endfor %}
        </ul>
    <li><a class="menu_item" href="{% url 'contactsapp:contacts' %}">Contacts</a></li>
{% endblock %}

{% block large_menu_items %}
    <a class="menu_item" href="{% url 'mainapp:index' %}">Main</a>
    <a class="menu_item" href="{% url 'productsapp:catalog' %}">Catalog</a>
    <ul class="submenu">
        {% for category in categories %}
        <li><a href="{% url 'productsapp:category' category=category.title %}">{{category.title}}</a></li>
        {% endfor %}
    </ul>
    <a class="menu_item" href="{% url 'contactsapp:contacts' %}">Contacts</a>
{% endblock %}

{% block right_content %}
    {% for category in categories %}
        <div class="category_products">
            <a href="{% url 'productsapp:category' category=category.title %}">
                <div class="products_header">
                {{ category.title }}
                </div>
            </a>
            <div class="row products_table">
                {% for product in limit_products %}
                    {% if product.category == category %}
                     <div class="col-md-4 col-sm-6 col-xs-12 product_cell">

                         {% include 'products/components/product.html' with prd_ctgry=category.title prd_id=product.id prd=product %}

                     </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block bootstrap_js %}
    <script src="{% static 'products/packages/bootstrap-3.3.7-dist/js/bootstrap.min.js' %}"></script>
{% endblock %}
