{% extends 'myshop/base.html' %}

{% load staticfiles %}

{% load utility %}

{% block page_title %}
    List
{% endblock %}

{% block bootstrap_css %}
{% endblock %}

{% block style_css %}
<!--<link rel="stylesheet" href="{% static 'products/styles/forms.css' %}">-->
<link rel="stylesheet" href="{% static 'products/styles/paginator.css' %}">
{% endblock %}

{% block small_menu_items %}
<ul class="submenu">
    {% for category in categories %}
    <li><a href="{% url 'categoriesapp:category' category=category.name %}">{{category.name}}</a></li>
    {% endfor %}
</ul>
{% endblock %}

{% block large_menu_items %}
<ul class="submenu">
    {% for category in categories %}
    <li><a href="{% url 'categoriesapp:category' category=category.name %}">{{category.name}}</a></li>
    {% endfor %}
</ul>
{% endblock %}

{% block right_content %}
<div class="main_section">
    <div class="main_section_header">
        {% get_model_name results.0 %}
    </div>
</div>
<div class="row products_table">
    {% for object in results %}
    <div class="col-md-4 col-sm-6 col-xs-12 product_cell">
        <div class="product_card {{object.product_marker|default_if_none:''}}">
            <img class="product_img" src="{{ object.image.img.url }}" alt="">
            <div class="name_price">
                <div class="product_name">
                    {{ object.name|title }}
                </div>
                <div class="product_price">
                    <div class="now_price">
                        {{ object.currency }} {{ object.now_price }}
                    </div>
                    {% if object.old_price %}
                    <div class="old_price">
                        {{ object.currency }} {{ object.old_price }}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% include 'products/components/pagination.html' with results=results %}

{% endblock %}

{% block bootstrap_js %}
<script src="{% static 'products/packages/bootstrap-3.3.7-dist/js/bootstrap.min.js' %}"></script>
{% endblock %}