{% extends 'myshop/base.html' %}

{% load staticfiles %}

{% block page_title %}
    Product
{% endblock %}

{% block bootstrap_css %}
{% endblock %}

{% block style_css %}
{% endblock %}

{% block small_menu_items %}
<ul class="submenu">
    {% for category in categories %}
    <li><a href="{% url 'productsapp:category' category=category.title %}">{{category.title}}</a></li>
    {% endfor %}
</ul>
{% endblock %}

{% block small_menu_mainpage %}
{% endblock %}

{% block large_menu_items %}
<ul class="submenu">
    {% for category in categories %}
    <li><a href="{% url 'productsapp:category' category=category.title %}">{{category.title}}</a></li>
    {% endfor %}
</ul>
{% endblock %}

{% block large_menu_mainpage %}
{% endblock %}

{% block right_content %}
<div class="category_products">

    <div class="products_header">
        {{ product.name }} /
        <a href="{% url 'productsapp:category' category=category %}">{{ category }}</a>
    </div>

    <div class="row products_table">

         <div class="col-md-6 col-sm-6 col-xs-12 product_cell">
             {% include 'products/components/product.html' with prd_ctgry=category prd_id=pk prd=product %}
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 product_cell">
             <div class="product_describe">
                 {{ product.long_text }}
             </div>
        </div>

    </div>
</div>
{% endblock %}

{% block bootstrap_js %}
<script src="{% static 'products/packages/bootstrap-3.3.7-dist/js/bootstrap.min.js' %}"></script>
{% endblock %}
