{% extends 'myshopadmin/base.html' %}

{% load staticfiles %}

{% block page_title %}
Admin
{% endblock %}


{% block style_css %}
{% endblock %}

{% block large_menu_items %}

    <!--{% for app, value in results.items %}-->
    <!--<li class="menu_item">{{ app }}-->
        <!--<ul>-->
            <!--{% for model in value %}-->
            <!--<li><a class="menu_item" href="{% url 'myshopadminapp:list' app=app model=model %}">{{ model }}</a></li>-->
            <!--{% endfor %}-->
        <!--</ul>-->
    <!--</li>-->
    <!--{% endfor %}-->

{% endblock %}

{% block right_content %}

{% for app, value in results.items %}
{% for model in value %}
    <div>
        <a class="menu_item" href="{% url 'myshopadminapp:list' app=app model=model %}">{{app}} {{ model }}</a>
    </div>
{% endfor %}
<hr>
{% endfor %}


{% endblock %}