{% extends 'myshopadmin/base.html' %}

{% load staticfiles %}

{% block page_title %}
Admin/List
{% endblock %}


{% block style_css %}
{% endblock %}

{% block large_menu_items %}

{% endblock %}

{% block right_content %}

    <div>
        <a class="menu_item" href="{% url 'myshopadminapp:create' app=app model=model %}">+Add {{model}} </a>
    </div>

    {% for item in results%}
    <a href="{% url 'myshopadminapp:detail' app=app model=model pk=item.pk %}">
    {% include 'myshopadmin/components/product.html' with prd=item %}
    {% endfor %}
    </a>

{% endblock %}