{% extends 'myshop/base.html' %}

{% load staticfiles %}

{% block page_title %}
    Catalog
{% endblock %}

{% block bootstrap_css %}
    <link href="{% static 'main/packages/bootstrap-3.3.7-dist/css/bootstrap.min.css' %}" rel="stylesheet">
{% endblock %}
{% block style_css %}
    <link rel="stylesheet" href="{% static 'main/styles/style.css' %}">
{% endblock %}

{% block small_menu_items %}
    <li><a class="menu_item" href="{% url 'mainapp:index' %}">Main</a></li>
    <li><a class="menu_item" href="{% url 'mainapp:catalog' %}">Catalog</a></li>
    <li><a class="menu_item" href="{% url 'contactsapp:contacts' %}">Contacts</a></li>
{% endblock %}

{% block large_menu_items %}
    <a class="menu_item" href="{% url 'mainapp:index' %}">Main</a>
    <a class="menu_item" href="{% url 'mainapp:catalog' %}">Catalog</a>
    <a class="menu_item" href="{% url 'contactsapp:contacts' %}">Contacts</a>
{% endblock %}

{% block right_content %}
    {% for product_category, products in results.items %}
        <div class="category_products">
            <a href="{% url 'mainapp:category' category=product_category %}">
                <div class="products_header">
                {{product_category}}
                </div>
            </a>
            <div class="row products_table">
                {% for product, values in products.items %}

                 <div class="col-md-4 col-sm-6 col-xs-12 product_cell">

                     {% include 'main/components/product.html' with prd_ctgry=product_category prd_id=product prd=values %}

                 </div>

                {% endfor %}
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block bootstrap_js %}
    <script src="{% static 'main/packages/bootstrap-3.3.7-dist/js/bootstrap.min.js' %}"></script>
{% endblock %}
