{% extends 'myshop/base.html' %}

{% load staticfiles %}

{% block page_title %}
    Catalog
{% endblock %}

{% block bootstrap_css %}
    <link href="{% static 'main/packages/bootstrap-3.3.7-dist/css/bootstrap.min.css' %}" rel="stylesheet">
{% endblock %}
{% block style_css %}
    <link rel="stylesheet" href="{% static 'main/styles/style.css' %}">
{% endblock %}

{% block small_menu_items %}
    <li><a class="menu_item" href="{% url 'index' %}">Main</a></li>
    <li><a class="menu_item" href="{% url 'catalog' %}">Catalog</a></li>
    <li><a class="menu_item" href="{% url 'contacts' %}">Contacts</a></li>
{% endblock %}

{% block large_menu_items %}
    <a class="menu_item" href="{% url 'index' %}">Main</a>
    <a class="menu_item" href="{% url 'catalog' %}">Catalog</a>
    <a class="menu_item" href="{% url 'contacts' %}">Contacts</a>
{% endblock %}

{% block right_content %}
    {% for product_category, products in results.items %}
        <div class="category_products">
            <a href="{% url 'category' category=product_category %}">
                <div class="products_header">
                {{product_category}}
                </div>
            </a>
            <div class="row products_table">
                {% for product, values in products.items %}

                 <div class="col-md-4 col-sm-6 col-xs-12 product_cell">
                     {% if product is int %}
                     <a href="{% url 'product' category=product_category pk=product %}">
                     {% endif %}
                         <div class="product_card {{values.corner|default_if_none:''}}">
                            <img class="product_img" src={% static values.img %} alt="">
                            <div class="name_price">
                                <div class="product_name">
                                    {{ values.name|title }}
                                </div>
                                <div class="product_price">
                                    <div class="now_price">
                                        ₽ {{ values.price.now }}
                                    </div>
                                    {% if values.price.old %}
                                    <div class="old_price">
                                        ₽ {{ values.price.old }}
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                         </div>
                     </a>
                </div>

                {% endfor %}
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block bootstrap_js %}
    <script src="{% static 'main/packages/bootstrap-3.3.7-dist/js/bootstrap.min.js' %}"></script>
{% endblock %}
