{% extends 'myshop/base.html' %}

{% load staticfiles %}

{% block page_title %}
    Category
{% endblock %}

{% block bootstrap_css %}
    <link href="{% static 'main/packages/bootstrap-3.3.7-dist/css/bootstrap.min.css' %}" rel="stylesheet">
{% endblock %}
{% block style_css %}
    <link rel="stylesheet" href="{% static 'main/styles/style.css' %}">
{% endblock %}

{% block small_menu_items %}
    <li><a class="menu_item" href="{% url 'index' %}">Main</a></li>
    <li><a class="menu_item" href="{% url 'catalog' %}">Catalog</a></li>
    <li><a class="menu_item" href="{% url 'contacts' %}">Contacts</a></li>
{% endblock %}

{% block large_menu_items %}
    <a class="menu_item" href="{% url 'index' %}">Main</a>
    <a class="menu_item" href="{% url 'catalog' %}">Catalog</a>
    <a class="menu_item" href="{% url 'contacts' %}">Contacts</a>
{% endblock %}

{% block right_content %}

        <div class="category_products">

            <div class="products_header">
                {{ category }}
            </div>

            <div class="row products_table">
                {% for product in products.values %}
                 <div class="col-md-6 col-sm-6 col-xs-12 product_cell">
                     <div class="product_card {{product.corner|default_if_none:''}}">
                        <img class="product_img" src={% static product.img %} alt="">
                        <div class="name_price">
                            <div class="product_name">
                                {{ product.name|title }}
                            </div>
                            <div class="product_price">
                                <div class="now_price">
                                    ₽ {{ product.price.now }}
                                </div>
                                {% if product.price.old %}
                                <div class="old_price">
                                    ₽ {{ product.price.old }}
                                </div>
                                {% endif %}
                            </div>
                        </div>
                     </div>
                </div>
                {% endfor %}
            </div>
        </div>

{% endblock %}

{% block bootstrap_js %}
    <script src="{% static 'main/packages/bootstrap-3.3.7-dist/js/bootstrap.min.js' %}"></script>
{% endblock %}
