{% extends 'myshop/base.html' %}

{% load staticfiles %}

{% block page_title %}
    Main
{% endblock %}

{% block bootstrap_css %}
    <link href="{% static 'main/packages/bootstrap-3.3.7-dist/css/bootstrap.min.css' %}" rel="stylesheet">
{% endblock %}
{% block style_css %}
    <link rel="stylesheet" href="{% static 'main/styles/style.css' %}">
{% endblock %}

{% block small_menu_items %}
    <li><a class="menu_item" href="{% url 'index' %}">Main</a></li>
    <li><a class="menu_item" href="{% url 'catalog' %}">Catalog</a></li>
    <li><a class="menu_item" href="{% url 'contacts' %}">Contacts</a></li>
{% endblock %}

{% block large_menu_items %}
    <a class="menu_item" href="{% url 'index' %}">Main</a>
    <a class="menu_item" href="{% url 'catalog' %}">Catalog</a>
    <a class="menu_item" href="{% url 'contacts' %}">Contacts</a>
{% endblock %}

{% block right_content %}
    {% for title, content in results.items %}
        <div class="main_section">
            <div class="main_section_header">
                {{ title}}
            </div>
             <div class="main_section_img">

             </div>
             <div class="row main_section_content">
                 {{ content }}
             </div>
        </div>
    {% endfor %}
{% endblock %}

{% block bootstrap_js %}
    <script src="{% static 'main/packages/bootstrap-3.3.7-dist/js/bootstrap.min.js' %}"></script>
{% endblock %}