{% extends 'myshop/base.html' %}

{% load staticfiles %}

{% block page_title %}
    Main
{% endblock %}

{% block bootstrap_css %}
{% endblock %}
{% block style_css %}
{% endblock %}

{% block small_menu_items %}
{% endblock %}

{% block large_menu_items %}
{% endblock %}

{% block right_content %}
    {% for content in results %}
        <div class="main_section">
            <div class="main_section_header">
                {{ content.chapter }}
            </div>
             <div class="main_section_img">

             </div>
             <div class="row main_section_content">
                 {{ content.content }}
             </div>
            <span>By {{ content.author }},</span>
            <span>{{ content.date.date }}</span>
        </div>
    {% endfor %}
{% endblock %}

{% block bootstrap_js %}
    <script src="{% static 'main/packages/bootstrap-3.3.7-dist/js/bootstrap.min.js' %}"></script>
{% endblock %}