{% load static %}

<a href="{% url 'mainapp:product' category=prd_ctgry pk=prd_id %}">
     <div class="product_card {{prd.corner|default_if_none:''}}">
        <img class="product_img" src={% static prd.img %} alt="">
        <div class="name_price">
            <div class="product_name">
                {{ prd.name|title }}
            </div>
            <div class="product_price">
                <div class="now_price">
                    ₽ {{ prd.price.now }}
                </div>
                {% if prd.price.old %}
                <div class="old_price">
                    ₽ {{ prd.price.old }}
                </div>
                {% endif %}
            </div>
        </div>
     </div>
 </a>