{% extends 'myshop/base.html' %}

{% load staticfiles %}

{% block page_title %}
Basket
{% endblock %}

{% block bootstrap_css %}
{% endblock %}

{% block style_css %}
<link rel="stylesheet" href="{% static 'basket/styles/basket.css' %}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
{% endblock %}

{% block small_menu_items %}
{% endblock %}

{% block small_menu_mainpage %}
{% endblock %}

{% block large_menu_items %}
{% endblock %}

{% block large_menu_mainpage %}
{% endblock %}

{% block right_content %}
<div class="main_section_header">
    {{ basket.0.user }}
</div>
{% for item in basket %}

<div class="product-line">
    {% include 'basket/components/product.html' with product=item.product %}

    <span class="quantity">
        {{ item.quantity }}
    </span>

    <a class="remove_one" href="{% url 'basketapp:delete_product' pk=item.id %}">del</a>
</div>
{% endfor %}
<div id="basket_js" style="float: left">

</div>
{% endblock %}

{% block bootstrap_js %}
<script src="{% static 'basket/packages/bootstrap-3.3.7-dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'basket/js/jquery-3.3.1.js' %}"></script>
<script src="{% static 'basket/js/basket_scripts.js' %}"></script>
<script type="text/javascript">
    axios.get('http://127.0.0.1:8000/api/basket/list/')
    .then(renderData)
</script>


{% endblock %}